#Visit yourdomainA.com/page and it will show the content from yourdomainB.com/page
#AddType application/x-httpd-php .htm .html

# line to accommodate php in html files on wampserver   
#AddHandler application/x-httpd-php .html

#AddHandler cgi-script .html .htm


RewriteEngine On
RewriteCond %{HTTP_HOST} ^cvarma.com
RewriteRule ^(.*) http://www.organicfoodtree.com/cvarma/$1 [P]

# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# line to accommodate php in html files on hostinger
# AddHandler fcgid-script .html .htm
